body {
  align-content: center;
  box-sizing: border-box;
  display: grid;
  background-color: #ecf833;
  color: black;
  font-family: 'URW Gothic L Book', 'Courier New', Courier, monospace;
  hyphens: auto;
  line-height: 1.65;
  margin: auto;
  /*
  min-width: 100vh;
  min-height: 100vh;
  */
  padding: 25px;
}
p {
  font-size: 19px;
}
